html{
    background-color:#f8f9fa !important;
}
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 100%;
  background-color: white;
  border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
}
.photo-main .controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}
.photo-main .controls i {
  cursor: pointer;
}
.photo-main img {
  position: absolute;
  left: -3.5em;
  top: 2em;
  max-width: 110%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

.product__info {
  padding: 0.8em 0;
}

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}
.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}
.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}

.description {
  clear: left;
  margin: 2em 0;
}
.description h3 {
  margin-bottom: 1em;
}
.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 1em;
}
.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
.buy--btn:active {
  transform: scale(0.97);
}



.wedevs_product_grid
{
    background: #fff;
    box-shadow: 0 40px 70px 0 rgb(0 0 0 / 5%);
    border-radius: 5px;
    margin: 14.5px;
    text-align: center;
    padding: 20px 30px 30px;
    width: 350px;
    transform: translateY(0);
    transition: transform .25s ease;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
    background-color: transparent;
}
.wedevs_product_grid p{
    opacity: .9;
    font-size: 22px;
    color: #4f5b6d;
    letter-spacing: .16px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}
.products_grid .col-sm-4:nth-child(3n+2) {
    position: relative;
    margin-top: -60px !important;
}
.products_grid{
    padding-top: 60px;
}
.product_price{
    color: #23b89a;
    font-weight: bold;
    font-size: 20px;
}
.custom-form-control{
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
}
.auth_card{

    max-width: 350px;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 15px;
}
.auth_card h4, .vue-card-title
{   
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #23b89a;
    margin-bottom: 1rem;
}
.background-auth{
    background-image: url('/images/auth-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;

}
.router-link-active {
    color: #23b89a !important;
}
.nav-link{
    font-weight: 600 !important;
}
.product-image-display{
    width: 350px;
}
.product-image-display img{
    width:100%;
    max-height: 350px;
    background-size: cover;
}
.product-form-card{
    width: 400px;
    margin-left: auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
}
.fit-image{
    max-height: 100px;
    position: relative;
    object-fit: cover;
}